.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: salmon;
    grid-gap: 10px;
    grid-auto-rows: min-content;
    height: 100dvh;
}

.up {
    display: none;
}

.match {
    grid-column: 1 / 7;
    grid-row: 4 / auto;
    height: 25vh;
    outline-style: groove;
    outline-color: rgb(194, 186, 186);
    background-color: rgb(209, 205, 205);
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #1b2632;
}

.area {
    padding: 10px;
    margin: 5%;
    outline-style: groove;
    outline-color: rgb(194, 186, 186);
    background-color: rgb(209, 205, 205);
}

.searchArea {
    grid-column: 1 / 7;
    grid-row: 2 / 3;
    outline-style: groove;
    outline-color: rgb(194, 186, 186);
    background-color: rgb(209, 205, 205);
    display: flex;
    overflow-x:auto;
    overflow-y: hidden;
    scrollbar-width: thin;
    padding: 10px;
    scrollbar-color: #888 #1b2632;
}

.criteria {
    padding-bottom: 10px;
}

input[type="number"] {
    width: 50px;
}

.users {
    grid-column: 2 / 12;
    grid-row: 5 / 6;
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;

    position: relative;
}

.user {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}

.userData {
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);

    min-width: 220px;
    padding: 10px;

    background: #222;
    color: white;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,.3);

    z-index: 1000;
}

.x {
    cursor: pointer;
}

.menu {
    grid-column: 6;
}

.msg {
    color: red;
}

.choices {
    display: inline-block;
}

.images {
    width: 30%;
}

@media screen and (min-width: 350px){

    .container {
        grid-template-columns: repeat(8, 1fr);
        background-color: rgb(207, 25, 5);
    }

    .menu {
        display: none;
    }

    .up {
        grid-column: 1 / 9;
        display: flex;
        overflow-x:auto;
        overflow-y: hidden;
        scrollbar-width: thin;
        scrollbar-color: #888 #1b2632;
    }

    .match {
        grid-column: 5 / 8;
        grid-row: 6 / auto;
        margin-top: 20%;
        height: 45vh;
    }

    .area {
        padding: 20px;
        margin-top: 30%;
    }

    .searchArea {
        margin-top: 20%;
        grid-column: 1 / 4;
        grid-row: 6 / auto;
    }
}

@media  screen and (min-width: 768px) {

    .container {
        grid-template-columns: repeat(10, 1fr);
        background-color: rgb(78, 42, 132);
    }

    .up {
        grid-column: 2 / 11;
    }

    .match {
        grid-column: 6 / 10;
        height: 45vh;
    }

    .area {
        margin-top: 10%;
    }

    .searchArea {
        margin-left: 10%;
    }
}