.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 1fr;
    /* KEY FIX */
    height: 100dvh;
    background-color: salmon;
}

/* .up {
    display: none;
}

.menu {
        grid-column: 6;
    } */

/* Map must fill its parent */
.leafletMap {
    height: 100%;
    width: 100%;
}

.addArea {
    grid-column: 1 / 7;
    grid-row: 2;

    outline: groove rgb(194, 186, 186);
    background-color: rgb(209, 205, 205);

    padding-bottom: 10px;
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #1b2632;

    text-align: center;
}

.map {
    grid-column: 1 / 7;
    grid-row: 3;

    /* height: 300px; */
    height: 100%;
    width: 100%;
}

.mapButton {
    width: 30px;
    height: 30px;
}

input[type="text"],
input[type="number"] {
    font-size: 12px;
    box-sizing: border-box;
}

.titlee {
    font-size: 1.2em;
    text-align: center;
}

.must {
    color: rgb(187, 6, 6);
}

.inputError {
    border: 2px solid red;
}

.radioButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
}

.radioLabel {
  display: flex;
  align-items: center;
  width: 160px;
  justify-content: flex-start;
  /* justify-content: center; */
  gap: 8px;                
  cursor: pointer;
}

.msg {
    color: red;
}

@media screen and (min-width: 350px) {

    .container {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto 1fr;
        background-color: red;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"] {
        width: 150px;
    }

    /* .up {
        grid-column: 1 / 9;
        grid-row: 1;
        display: flex;
        height: auto;
        overflow-x:auto;
        overflow-y: hidden;
        scrollbar-width: thin;
        scrollbar-color: #888 #1b2632;
    }

    .menu {
        display: none;
    } */

    .addArea {
        /* FIXED NAME */
        grid-column: 1 / 5;
        grid-row: 2;
        /* height: 75dvh; */
    }

    .map {
        grid-column: 5 / 9;
        grid-row: 2;

        height: 100%;
        /* IMPORTANT */
    }

    .mapButton {
        width: 30px;
        height: 30px;
    }
}

@media screen and (min-width: 768px) {

    .container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto 1fr;
        background-color: rgb(78, 42, 132);
    }

    /* .up {
        grid-column: 2 / 13;
    } */

    .addArea {
        grid-column: 2 / 7;
        grid-row: 2;
        padding: 20px;
        margin-top: 10px;
    }

    .map {
        grid-column: 7 / 12;
        grid-row: 2;
        margin-top: 10px;
        height: 91vh;
        /* KEY */
    }

    .mapButton {
        width: 30px;
        height: 30px;
    }
}