.up {display: none;}

.menu {grid-column: 6;}

@media screen and (min-width: 350px) {
    .up {
        grid-column: 1 / 9;
        grid-row: 1;
        display: flex;
        height: auto;
        overflow-x:auto;
        overflow-y: hidden;
        scrollbar-width: thin;
        scrollbar-color: #888 #1b2632;
    }

    .menu {display: none;}
}

@media screen and (min-width: 768px) {
    .up {grid-column: 2 / 13;}
}